@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DSatnic: let's try out some fancy CSS</title>
    <link href="~/Styles/DSatnicStyles.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2>A fancy free embedded font from Google Web Fonts</h2>
        <span class="dsatnicFancyFont_Tangerine">I would like to eat a scrumptious tangerine says I in my fancy Tangerine font: who wouldst not?</span>
        <h2>Whew this bridge is making me a little wobbly</h2>
        <h6>*Get chrome if you can't see this right - no browser specific css allowed :)</h6>
        <img src="~/Images/IMG_20160806_142735576_HDR.jpg" class="maxWidthForImage wobbly" />
    </div>
</body>
</html>
